%p.lead
  %strong Title
  = @post.title

%p.lead
  %strong Content:
  = @post.content

= link_to 'Edit', edit_post_path(@post), class: 'btn btn-lg btn-primary'
= link_to 'Back', posts_path, class: 'btn btn-lg btn-danger'
