.navbar{
  border-radius: 0px !important;
  background-color: #C52F24 !important;
  .navbar-brand{
    color: white !important;
  }
  a{
    color: white !important;
  }
}
.btn{
  color: white !important;
}
.btn-default{
  color: black !important;
}
